.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
  width: 70%;
  margin: auto;
  border-radius: 15px;
}

.main__title {
  border-bottom: 1px solid #fabada;
  border-left: 1px solid #fabada;
  padding: 10px;
}

.main__list {
  list-style-type: none;
}

.main__links {
  text-decoration: none;
}